.sidebar {
    position: sticky;
    top: 50px;
    flex: 1;
    height: calc(100vh - 50px);
    background: var(--gui-sid-bgdcol);
}

.sidebar .sidebarWrapper {
    font-weight: 600;
    font-size: 16px;
    color: var(--gui-sid-subcol);
    padding: 20px;
}

.sidebar .sidebarWrapper .sidebarMenu {
    margin-bottom: 10px;
}

.sidebar .sidebarWrapper .sidebarMenu .sidebarTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--gui-sid-mnucol);
}

.sidebar .sidebarWrapper .sidebarMenu .sidebarList {
list-style: none;
padding: 5px;
}

.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem.active, 
.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem:hover {
    color: var(--gui-sid-ovrcol);
    background: var(--gui-sid-ovrbgd);
}

.sidebar .sidebarWrapper .sidebarMenu .sidebarList .sidebarListItem .sidebarIcon {
    font-size: 20px !important;
    margin-right: 5px;
}